<div style="page-break-after: always;"></div>
<page style='page-break-before: always;'>
  {{#if schemaInitial}}
    <div style='width: 100%;'>
      <p style='width: 100%; text-align: center'>Schéma initial</p>
      <div class='schema'>{{{schemaInitial}}}</div>
    </div>
  {{/if}}
  <div style='width: 100%;'>
    <p style='width: 100%; text-align: center'>Schéma actuel</p>
    <div class='schema'>{{{schemaActuel}}}</div>
  </div>
  <div style='width: 100%;'>
    <p style='width: 100%; text-align: center'>Schéma à venir</p>
    <div class='schema'>{{{schemaPlan}}}</div>
  </div>
</page>